<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2000/Players"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfiguration"
                contract="SummerBreeze.ChessApplication.Players.IPlayerService" />

      <endpoint address="net.tcp://localhost:2000/Challenges"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfiguration"
                contract="SummerBreeze.ChessApplication.Challenges.IChallengeService" />

      <endpoint address="net.tcp://localhost:2000/Games"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfiguration"
                contract="SummerBreeze.ChessApplication.Games.IGameService" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration">

        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>  
</configuration>
