<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Server.Data.Sql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Kingo.Samples.Chess;Integrated Security=True;Pooling=True" />
  </connectionStrings>  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>    
    <services>      
      <service name="Kingo.Samples.Chess.Challenges.ChallengeService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1001/Challenges" />
          </baseAddresses>
        </host>
        <!--<endpoint address="Challenges" binding="basicHttpBinding" contract="Kingo.Samples.Chess.Challenges.IChallengeService" />-->
        <endpoint address="net.tcp://localhost:1002/Challenges" binding="netTcpBinding" contract="Kingo.Samples.Chess.Challenges.IChallengeService" />
      </service>
      <service name="Kingo.Samples.Chess.Players.PlayerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1001/Players" />
          </baseAddresses>
        </host>
        <!--<endpoint address="Players" binding="basicHttpBinding" contract="Kingo.Samples.Chess.Players.IPlayerService" />-->
        <endpoint address="net.tcp://localhost:1002/Players" binding="netTcpBinding" contract="Kingo.Samples.Chess.Players.IPlayerService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <SessionBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SessionBehavior" type="Kingo.Samples.Chess.SessionBehavior+ExtensionElement, Kingo.Samples.Chess.Api" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>    
  <runtime>    
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
                <dependentAssembly>    
                       <assemblyIdentity name="Kingo" publicKeyToken="cbd9f157c5e464e2" culture="neutral" />    
                       <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />    
                </dependentAssembly>    
         </assemblyBinding>    
  </runtime>
</configuration>