<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="ChessDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chess;Integrated Security=True;Pooling=True" />
    <add name="RabbitMQ" connectionString="amqp://guest:guest@localhost:5672/%2f" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Kingo.Samples.Chess.Challenges.ChallengeService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1001/Challenges" />
          </baseAddresses>
        </host>        
        <endpoint address="net.tcp://localhost:1002/Challenges" binding="netTcpBinding" contract="Kingo.Samples.Chess.Challenges.IChallengeService" />
      </service>
      <service name="Kingo.Samples.Chess.Games.GameService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1001/Games" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:1002/Games" binding="netTcpBinding" contract="Kingo.Samples.Chess.Games.IGameService" />
      </service>
      <service name="Kingo.Samples.Chess.Players.PlayerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1001/Players" />
          </baseAddresses>
        </host>        
        <endpoint address="net.tcp://localhost:1002/Players" binding="netTcpBinding" contract="Kingo.Samples.Chess.Players.IPlayerService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <SessionBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SessionBehavior" type="Kingo.Samples.Chess.SessionBehavior+ExtensionElement, Kingo.Samples.Chess.Api" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>    
</configuration>