<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kingo" version="2.3.5-beta" targetFramework="net452" />
  <package id="Kingo.MessageProcessor" version="2.3.5-beta" targetFramework="net452" />
  <package id="Kingo.TestEngine" version="2.3.5-beta" targetFramework="net452" />
</packages>