<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>      
      
      <service name="SummerBreeze.ChessApplication.Players.PlayerService" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:2000/Players"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfiguration"
                  contract="SummerBreeze.ChessApplication.Players.IPlayerService" />
      </service>

      <service name="SummerBreeze.ChessApplication.Challenges.ChallengeService" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:2000/Challenges"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfiguration"
                  contract="SummerBreeze.ChessApplication.Challenges.IChallengeService" />
      </service>

      <service name="SummerBreeze.ChessApplication.Games.GameService" behaviorConfiguration="debugBehavior">
        <endpoint address="net.tcp://localhost:2000/Games"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfiguration"
                  contract="SummerBreeze.ChessApplication.Games.IGameService" />
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="debugBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration">
          
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>