<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ChallengeService_NetTcp"                
                address="net.tcp://localhost:1002/Challenges"
                binding="netTcpBinding"
                contract="Kingo.Samples.Chess.Challenges.IChallengeService" />

      <endpoint name="PlayerService_NetTcp"
                address="net.tcp://localhost:1002/Players"
                binding="netTcpBinding"
                contract="Kingo.Samples.Chess.Players.IPlayerService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <SessionBehavior />
        </behavior>        
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SessionBehavior" type="Kingo.Samples.Chess.SessionBehavior+ExtensionElement, Kingo.Samples.Chess.Api" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
